html {
    height: 100%;
    width: 100%;
}

* {
    background: none;
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

textarea {
    outline: none;
}

input {
    min-width: 0;
}
